# ローカル実行用

# GitHub Personal Access Token
# Required scopes: repo (for private repos) or public_repo (for public repos only)
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Slack Bot Token
# Required scopes: chat:write
SLACK_TOKEN=xoxb-xxxxxxxxxxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx
